<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<%= form_tag("/search", method: "post") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>